<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" type="text/css" href="survey_style.css"> -->
    <title>Return</title>
</head>
<body>
    <h1>Information Submitted</h1>
    <b>Name:</b> {{name}}<br>
    <!-- <b>Email:</b> {{email}}<br> -->
    <b>Location:</b> {{location}}<br>
    <b>Favorite Language:</b> {{language}}<br>
    <b>Comments:</b> {{comment}}<br>

    <Button><a href = "/">Back</a></Button>
</body>
</html>
<html>
    